html {
	scroll-behavior: smooth;
	text-align: center;
	text-decoration: none;
	background-color: #fcfcfc;
	font-family: "Fira Sans", Tahoma, Helvetica, sans-serif;

	-webkit-animation: fadein 2s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s;
	/* Firefox < 16 */
	-o-animation: fadein 2s;
	/* Opera < 12.1 */
	animation: fadein 2s;


}

h1 {
	font-size: 500%;
}

h2 {
	font-size: 200%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;

}

hr {
	color: #e3e3e3;
}

#header {
	background-color: white;
	width: 100%;
	height: 150px;
	position: relative;
	/*left:16%;*/
	box-shadow: 0 8px 6px -6px lightgrey;
	text-align: left;
	


}

#stopka {
	width: 66%;
	height: 150px;
	position: relative;
	left: 16%;
}

#quiz {
	margin: 15%;
	text-align: left;
	-webkit-animation: fadein 2s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s;
	/* Firefox < 16 */
	-o-animation: fadein 2s;
	/* Opera < 12.1 */
	animation: fadein 2s;


}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Internet Explorer */
#main {
	scroll-behavior: smooth;
	text-align: center;
	width: 66%;
	position: relative;
	left: 16%;
	height: 100%;


}

button {
	background-color: red;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	border: 2px solid red;
	border-radius: 15px;
	width:20%;


}

button:hover {
	background-color: white;
	color: red;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#login-form {
	margin-top: 5%;


}

input {
	border: 2px solid red;
	border-radius: 8px;
	padding: 8px 8px;
	font-size: 100%;
	
}

input:focus {
	border: 4px solid red;
}

#stopka {
	text-align: left;
	margin-left: 0%;
}

::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: lightgrey;
}

::selection {
	color: white;
	background: lightgrey;
}

#pierwszy, #drugi
{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid red;
    border-radius:25px;
    width:40%;
 
    font-family: "Fira Sans",Tahoma,Helvetica,sans-serif;
    

}
#pierwszy:hover, #drugi:hover {
    background-color:white; 
    color: red;
	transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
h3
{
	font-weight: normal;
	line-height:177%;
}
img
{	
	max-height:100%;
	margin-left:7%;

}

/*    RADIO BUTTON      */


.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align:left;
	position:relative; 
	left:37%;
	width:60%;

  }
  
  /* Hide the browser's default radio button */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
	position: absolute;
	left:33%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: red;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
	   top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }

  /*    END OF THE RADIO BUTTON      */