body
{
    padding:0;
    margin:0;
    background-color:#fafafa;
}
#header
{
    background-color: white;
    width:66%;
    height:150px;
    position:relative;
    left:16%;
}

#main
{
    width:66%;
    position:relative;
    left:16%;
    text-align:center;
    background-color:#fafafa;
    
}
button
{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid red;
    border-radius:25px;
    width:60%;
 
    font-family: "Fira Sans",Tahoma,Helvetica,sans-serif;
    

}
button:hover {
    background-color:white; 
    color: red;
    font-size:45px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
h1
{
    font-family: "Fira Sans",Tahoma,Helvetica,sans-serif;
    text-align:left;
    font-size:30px;
}